<a href="https://colab.research.google.com/github/littleadam/Machine_Learning/blob/main/general/onion_prices_data_inspection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import modules

In [ ]:
import pandas as pd

In [ ]:
from pandas import read_csv

# read the csv file

In [ ]:
filename = 'daily_retail_price_Onion-upto_apr_2015.csv'
header_names = ['Date','Centre_Name','Commodity_Name','Price']
onion = read_csv(filename,names = header_names)

# display the data

In [ ]:
onion

            Date      Centre_Name Commodity_Name  Price
0       25-11-97            DELHI          Onion    8.0
1       25-11-97           SHIMLA          Onion    7.0
2       25-11-97          LUCKNOW          Onion    5.0
3       25-11-97        AHMEDABAD          Onion    6.0
4       25-11-97           BHOPAL          Onion    8.0
...          ...              ...            ...    ...
127906  28-04-15         DINDIGUL          Onion   18.0
127907  28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908  28-04-15       COIMBATORE          Onion   18.0
127909  28-04-15      TIRUNELVELI          Onion   18.0
127910  28-04-15        HYDERABAD          Onion   22.0

[127911 rows x 4 columns]

In [ ]:
print(type(onion))

<class 'pandas.core.frame.DataFrame'>

# simple commands

In [ ]:
onion.dtypes

Date               object
Centre_Name        object
Commodity_Name     object
Price             float64
dtype: object

In [ ]:
onion.ndim

2

In [ ]:
onion.shape

(127911, 4)

In [ ]:
onion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127911 entries, 0 to 127910
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            127911 non-null  object
 1   Centre_Name     127911 non-null  object
 2   Commodity_Name  127911 non-null  object
 3   Price           115991 non-null  float64
dtypes: float64(1), object(3)
memory usage: 3.9+ MB

In [ ]:
onion.head()

       Date Centre_Name Commodity_Name  Price
0  25-11-97       DELHI          Onion    8.0
1  25-11-97      SHIMLA          Onion    7.0
2  25-11-97     LUCKNOW          Onion    5.0
3  25-11-97   AHMEDABAD          Onion    6.0
4  25-11-97      BHOPAL          Onion    8.0

In [ ]:
onion.head(15)

        Date   Centre_Name Commodity_Name  Price
0   25-11-97         DELHI          Onion    8.0
1   25-11-97        SHIMLA          Onion    7.0
2   25-11-97       LUCKNOW          Onion    5.0
3   25-11-97     AHMEDABAD          Onion    6.0
4   25-11-97        BHOPAL          Onion    8.0
5   25-11-97        MUMBAI          Onion    7.0
6   25-11-97        JAIPUR          Onion    6.0
7   25-11-97         PATNA          Onion    NaN
8   25-11-97  BHUBANESHWAR          Onion    9.0
9   25-11-97       KOLKATA          Onion   11.0
10  25-11-97      GUWAHATI          Onion    8.0
11  25-11-97      SHILLONG          Onion    9.0
12  25-11-97        AIZWAL          Onion    9.0
13  25-11-97      AGARTALA          Onion    9.0
14  25-11-97     BENGALURU          Onion    6.0

In [ ]:
onion.tail(10)

            Date      Centre_Name Commodity_Name  Price
127901  28-04-15         THRISSUR          Onion   30.0
127902  28-04-15         PALAKKAD          Onion   24.0
127903  28-04-15          WAYANAD          Onion   41.0
127904  28-04-15       PUDUCHERRY          Onion   18.0
127905  28-04-15          CHENNAI          Onion   19.0
127906  28-04-15         DINDIGUL          Onion   18.0
127907  28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908  28-04-15       COIMBATORE          Onion   18.0
127909  28-04-15      TIRUNELVELI          Onion   18.0
127910  28-04-15        HYDERABAD          Onion   22.0

In [ ]:
onion.tail(10)

            Date      Centre_Name Commodity_Name  Price
127901  28-04-15         THRISSUR          Onion   30.0
127902  28-04-15         PALAKKAD          Onion   24.0
127903  28-04-15          WAYANAD          Onion   41.0
127904  28-04-15       PUDUCHERRY          Onion   18.0
127905  28-04-15          CHENNAI          Onion   19.0
127906  28-04-15         DINDIGUL          Onion   18.0
127907  28-04-15  THIRUCHIRAPALLI          Onion   18.0
127908  28-04-15       COIMBATORE          Onion   18.0
127909  28-04-15      TIRUNELVELI          Onion   18.0
127910  28-04-15        HYDERABAD          Onion   22.0

# sorting by individual columns

In [ ]:
onion.sort_values('Price')

            Date Centre_Name Commodity_Name  Price
16130   19-07-01      BHOPAL          Onion    2.0
16094   17-07-01      BHOPAL          Onion    2.0
16112   18-07-01      BHOPAL          Onion    2.0
12008   11-08-00      BHOPAL          Onion    2.0
37260   28-04-06      BHOPAL          Onion    2.0
...          ...         ...            ...    ...
127813  27-04-15    SILIGURI          Onion    NaN
127815  27-04-15    ITANAGAR          Onion    NaN
127866  28-04-15     GWALIOR          Onion    NaN
127867  28-04-15    JABALPUR          Onion    NaN
127886  28-04-15    ITANAGAR          Onion    NaN

[127911 rows x 4 columns]

In [ ]:
onion.sort_values(by=['Centre_Name','Price'])

In [ ]:
onion.sort_values('Centre_Name')

In [ ]:
onion['Centre_Name'].sort_values()

In [ ]:
onion.sort_values('Price').head()

In [ ]:
onion.sort_values('Price',ascending=False)

            Date Centre_Name Commodity_Name  Price
106332  13-11-13      AIZWAL          Onion  100.0
107016  02-12-13      AIZWAL          Onion  100.0
105933  04-11-13      AIZWAL          Onion  100.0
106161  08-11-13      AIZWAL          Onion  100.0
106047  06-11-13      AIZWAL          Onion  100.0
...          ...         ...            ...    ...
127813  27-04-15    SILIGURI          Onion    NaN
127815  27-04-15    ITANAGAR          Onion    NaN
127866  28-04-15     GWALIOR          Onion    NaN
127867  28-04-15    JABALPUR          Onion    NaN
127886  28-04-15    ITANAGAR          Onion    NaN

[127911 rows x 4 columns]

# selecting columns

In [ ]:
onion['Date']

In [ ]:
onion['Centre_Name']

In [ ]:
onion[['Date', 'Price','Centre_Name']]

# groupby command

In [ ]:
len(onion.groupby('Centre_Name'))

In [ ]:
len(onion.groupby('Price'))

In [ ]:
list(onion.groupby('Price'))

In [ ]:
len(onion.groupby('Price'))

# dropping columns

In [ ]:
onion.drop(['Date', 'Commodity_Name'],axis=1)

In [ ]:
onion

In [ ]:
onion.drop(columns=['Date', 'Commodity_Name'],inplace=True)

In [ ]:
onion

In [ ]:
onion = read_csv(filename,names = header_names)

In [ ]:
onion

# selecting columns by index - loc and iloc

In [ ]:
onion.iloc[:, 0:2]

In [ ]:
onion[onion.columns[1:3]]

# rename columns

In [ ]:
onion.rename(columns={"Date": "Date_of_Sale"})

In [ ]:
onion

In [ ]:
onion.rename(columns={"Date": "Date_of_Sale"},inplace=True)

In [ ]:
onion

In [ ]:
onion = read_csv(filename,names = header_names)

# set index and reset index

In [ ]:
print(onion.set_index("Price"))

In [ ]:
print(onion.set_index("Centre_Name"))

In [ ]:
onion["Price"].value_counts()

In [ ]:
print(onion.set_index("Centre_Name",inplace=True))

In [ ]:
onion

# more simple commands

In [ ]:
onion = read_csv(filename,names = header_names)

In [ ]:
onion["Price"].value_counts()

In [ ]:
onion["Centre_Name"].value_counts()

In [ ]:
data['Commodity_Name'].value_counts()

In [ ]:
onion['Centre_Name'].unique()

In [ ]:
onion['Centre_Name'].nunique()

# smallest and largest elements

In [ ]:
onion.nlargest(5,'Price')

In [ ]:
data.nsmallest(5,'Price')